@charset "UTF-8";

/* ----------------------------------------CSS初始化---------------------------------------- */
* {margin:0;padding:0; border:0; word-break:break-all;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:none; outline:none;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style-type:none;}
li{display:block;}
capation,th{text-align:left;}
abbr,acronym{border:0;} 
select,input{vertical-align:middle; }
img{vertical-align:middle;}
a {text-decoration: none; font-weight:normal; cursor:pointer;}
b{ font-weight:bold; display:inline;}
input{height:auto; outline:none; vertical-align:bottom;+vertical-align:middle !important; _vertical-align:middle; line-height:normal}
textarea {resize: none;} /*6月14日更新，针对webkit核心的浏览器——Chrome(google浏览器),Safari(苹果浏览器)中textare可调整大小的问题定义. 取消拖动调整大小*/
textarea:focus {outline: none;} /*6月14日更新. textarea的聚焦时现在默认边框颜色不变*/
i, em, cite { font-style: normal; }
h1,h2,h3,h4,h5,h6{font-style:normal; font-weight:normal;}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

.clear,.clearit{clear: both;margin: 0;padding: 0;}
.clearFix {display: block;}
.clearFix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.alc{text-align:center;}
.all{text-align:left;}
.alr{text-align:right;}
.vm{vertical-align:middle;}
.zoom{zoom:1}
.ct,.center{ margin:0px auto;}
.pr{ position:relative}
.pa{ position:absolute;}
.fx{ position: fixed;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.tl{ text-align:left;}
.none{ display:none;}
.cur{ cursor:pointer;}

/*media font-size*/
@media screen{html{font-size:10px;}}
@media screen and (device-width:320px){html{font-size:10px;}}
@media screen and (device-width:375px){html{font-size:12px;}}
@media screen and (device-width:414px){html{font-size:13px;}}
@media screen and (min-width:480px){html{font-size:15px;}}
@media screen and (min-width:512px){html{font-size:16px;}}
@media screen and (min-width:540px){html{font-size:17px;}}
@media screen and (min-width:576px){html{font-size:18px;}}
@media screen and (min-width:640px){html{font-size:20px;}}
@media screen and (min-width:720px){html{font-size:22px;}}
@media screen and (min-width:800px){html{font-size:25px;}}


/* iphone版微信工具栏高度是127像素(IP4-IP5S)；android版微信工具栏高度是110像素； */
/* 默认CSS适配 16:9标准屏幕 */
/* iphone5/5s screen:320x568/weixin:320x504 */
/* iphone6 safari:375×667/weixin:320x504 */
/* iphone6 plus safari:414×736/weixin:320x504 */
/* android screen:480x854/weixin:480x744 */
/* android screen:540x960/weixin:540x850 */

/* ----------------------------------------公共部分---------------------------------------- */

body{ background:#f5f5f5; color:#000;}
a{ color:#000; text-decoration:none;}
video{ background:#000;}

/* 旋转浮层 css*/
#turnBox{ width:100%; height:100%; background:#222; position:absolute; left:0; top:0; z-index:1001; display:none;}
#turnBox span{ position:absolute; display:block; left:25%; top:10%; width:50%; height:80%; background:url(../../images/spring/common/turn.png) center center no-repeat; background-size: contain;}

#turnBoxHor{ width:100%; height:100%; background:#1a0f1b; position:absolute; left:0; top:0; z-index:1001; display:none;}
#turnBoxHor span{ position:absolute; display:block; left:10%; top:10%; width:80%; height:80%; background: url(../../images/spring/common/turn_hor.png) center center no-repeat; background-size: contain;}

/* load浮层 css*/
#loadBox{ position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.6); opacity:0.5; display:none;}
#loadBox span{ display:block; position:absolute; left:50%; top:50%; margin-left:-1.5em; margin-top:-1.5em; width:3em; height:3em; line-height:3em; background: url(../../images/spring/common/loading.gif) no-repeat; background-size:contain; font-size:1em; text-align:center; color:#fff;}

/* 取代系统alert的警告提示弹窗 css*/
#popAlert{ position:absolute; background:#fff; width:70%; padding:2em 0; border-radius:1em; box-shadow:0 0 1em #000; display:none;}
#popAlert h3{ text-align:center; margin-bottom:2em; font-size:1.8em; line-height:1.8em; color:#6699cc;}
#popAlert h3 img{ width:25%; vertical-align:middle; margin:0 5%;}
#popAlert p{ text-align:center;}
#popAlert p.text{ margin-bottom:2em; font-size:1.6em; color:#222;}
#popAlert p.btn a{ display:inline-block; font-size:1.6em; padding:0.5em 2em; background:#222; color:#fff; letter-spacing:0.2em; border-radius:0.3em;}

/* 分享 css*/
#shareBox{width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,0.5); display:none;}
#shareBox img{ display:block; width:90%; margin:10% auto 0;}

/* 视频 css*/
#videoBox{position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:999; display:none;}
#videoBox iframe{width:100%;}
#videoBox a.close{ position:absolute; right:0; top:0; width:4.2em; height:4.2em; background: url(../../images/spring/common/close.png); background-size:100% 100%;}

/* 弹窗外壳 css*/
.popBox{position:absolute; width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,0.7); z-index:999;}

/* 黑色蒙版 css*/
#blackBox{ position:absolute; left:0; top:0; width:100%; height:100%; background:#000;}
#maskBox{ position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); display:none;}

.fileBox{ position:absolute; left:0; bottom:0; opacity:0; width:1px; height:1px; overflow:hidden;}

/* ----------------------------------------内容部分----------------------------------------*/

.wrap{ width:100%; overflow:hidden;  position:relative;}

section.explainBox{ width:85%; margin:1.5em auto 0; position:relative;}
section.explainBox h3{ text-align:center; margin-bottom:1em;}
section.explainBox h3 img{ width:60%; -webkit-touch-callout:none;}
section.explainBox h4{ font-size:1.4em;}
section.explainBox p{ font-size:1.2em; line-height:1.2em; margin-top:0.5em;}
section.explainBox p i{ display:inline-block; margin-right:0.5em; width:1.2em; height:1.2em; font-size:1em; line-height:1.2em; color:#fff; text-align:center; background:#000; border-radius:50%;}

section.cameraBox{ width:100%; position: absolute; left:0; bottom:0; background:url(../../images/spring/index/bg_camera.png) center center no-repeat; background-size:contain;  -webkit-touch-callout:none;}
section.cameraBox a{ display:block; width:38%; margin:0 auto;}
section.cameraBox a img{ width:100%; -webkit-touch-callout:none;}

section.imgBox{ width:100%; padding:1em 0 4em; display:none; position:relative;}
section.imgBox .shell{ width:84%; margin-left:1em; background:#cdcdcd; border:1px dashed #000; overflow:hidden;}
section.imgBox .panel{ position:absolute; top:1em; right:2%;}
section.imgBox .panel a.btn{display:block;width:2.4em; height:2.4em; background-color:#000; background-size:100% 100%; border-radius:50%; margin-bottom:2em;}
section.imgBox .panel a.btnAdd{ background-image:url(../../images/spring/index/btn_add.png);}
section.imgBox .panel a.btnSub{ background-image:url(../../images/spring/index/btn_sub.png);}
section.imgBox .panel a.btnR1{ background-image:url(../../images/spring/index/btn_r.png);}
section.imgBox .panel a.btnR2{ background-image:url(../../images/spring/index/btn_r.png); -webkit-transform:scaleX(-1);}
section.imgBox a.btnCf{ display:block; position:absolute; right:1%; bottom:1em; width:7em; height:2em; background-image:url(../../images/spring/index/btn_cf.png); background-size:100% 100%;}
section.imgBox .sign{ position:absolute; left:1em; bottom:1em; font-size:1.2em; text-shadow:1px 1px 1px #f5f5f5; display:none;}

section.resultBox{}
section.resultBox .pic{ margin:2em 0;}
section.resultBox .pic h4{ text-align:center; margin-bottom:0.5em;}
section.resultBox .pic h4 img{ width:85%;}
section.resultBox .pic p{text-align:center; font-size:1.2em;}
section.resultBox table.score{ width:95%; margin:0 auto 2em;}
section.resultBox table.score td{ padding:0 0.5em;}
section.resultBox table.score td.bar{}
section.resultBox table.score td.bar p{ margin-bottom:0.5em;}
section.resultBox table.score td.bar p span{ margin-right:1em;}
section.resultBox table.score td.bar p i{ display:inline-block; height:1em; width:6em; background:#004e91;}
section.resultBox table.score td.bar h4{ font-size:1.6em; font-weight:bold; line-height:1.5em;}
section.resultBox table.score td.tot{}
section.resultBox table.score td.tot span{ display:block; width:14em; height:14em; line-height:14em; text-align:center; border-radius:50%; border:2px solid #000;}
section.resultBox table.score td.tot span i{ font-size:8em;}
section.resultBox table.btns{ width:95%; margin:0 auto;}
section.resultBox table.btns td{ padding:0 0.5em;}
section.resultBox table.btns td:nth-child(2){}
section.resultBox table.btns a{ display:inline-block; width:100%; height:3em; padding:0.5em 0; text-align:center; background:#004e91; box-shadow:1px 1px 5px #333;}
section.resultBox table.btns a span{ font-size:1.3em; line-height:1.1em; color:#fff;}
section.resultBox table.btns a span.one{  line-height:2.3em;}

section.listBox{ width:100%; height:100%; background:#fff; -webkit-touch-callout:none;}
section.listBox h3{ padding-top:3em; margin-bottom:3em; text-align:center;}
section.listBox h3 img{ width:50%;}
section.listBox li{ width:30.8%; margin:0.3em 1.15%; background:#f5f5f5; position:relative; display:inline-block;}
section.listBox li:last-child{ background:none;}
section.listBox li img{ width:100%;}
section.listBox li i{ position:absolute; right:0.3em; bottom:0.3em; display:block; width:2.4em; height:2.4em; line-height:2.4em; text-align:center; background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(223,223,223,1) 100%); box-shadow:0px 0px 5px #000; border-radius:50%;}

section.watchBox{ width:100%; display:none;}
section.watchBox h3{ border-bottom:2px solid #000; height:0.6em; margin-bottom:2em; position:relative;}
section.watchBox h3 span{ display:inline-block; background:#f5f5f5; text-align:center; font-size:1.2em; position:absolute; left:50%; top:0; width:50%; margin-left:-22.5%;}
section.watchBox h3 img{ width:100%;}
section.watchBox .focus{position:relative; width:100%; height:14.5em;}
section.watchBox .focus>a.boxBtn{position:absolute; left:0%; bottom:-1.5em; width:100%; font-size:1.6em; text-align:center;}
section.watchBox .focus>a.boxBtnL{position:absolute; left:8%; top:50%; margin-top:-1.5em; width:1em; height:3em; background:url(../../images/spring/common/ar1.png); background-size:100% 100%; display: none;}
section.watchBox .focus>a.boxBtnL.active{ display: block;}
section.watchBox .focus>a.boxBtnR{position:absolute; right:8%; top:50%; margin-top:-1.5em; width:1em; height:3em; background:url(../../images/spring/common/ar1.png); -webkit-transform:scaleX(-1); background-size:100% 100%; display: none;}
section.watchBox .focus>a.boxBtnR.active{  display: block; }
section.watchBox .focus>ul{position:absolute;}
section.watchBox .focus>ul>li{ float:left; width:100%; height:100%; text-align:center;}
section.watchBox .focus>ul>li img{ width:11em;}


/*-----------------------------------------css media--------------------------------------------*/

/*------------------ 非16:9的短屏，16:9但是系统菜单栏内置的屏幕------------------*/
/* iphone4/4s screen:320x480/weixin:320x416 */
/* android screen:480x800/weixin:480x690 */
/* android screen:540x890/weixin:540x780 */
@media screen and (device-width:320px) and (max-height:480px), screen and (width:480px) and (max-height:690px), screen and (width:540px) and (max-height:780px){
section.explainBox{ width:95%; margin:0.5em auto 0; }
section.explainBox h3{ margin-bottom:0em;}
section.explainBox h3 img{ width:45%;}
section.explainBox p{ font-size:1em; line-height:1em; margin-top:0.3em;}

section.imgBox{ padding:0.5em 0 3em;}
section.imgBox a.btnCf{ bottom:0.5em;}
section.imgBox .sign{ bottom:0.5em;}

section.watchBox{ height:18em; bottom:0%;}
section.watchBox h3{ margin-bottom:0.5em;}
section.watchBox .focus>a.boxBtn{bottom:-1em;}


section.resultBox .pic{ margin:0.5em 0;}
section.resultBox .pic h4 img{ width:78%;}
section.resultBox table.score{ width:95%; margin:0 auto 0.5em;}
section.resultBox table.score td.number span{ display:block; width:14em; height:14em; line-height:14em; text-align:center; border-radius:50%; border:2px solid #000;}
section.resultBox table.score td.number span i{ font-size:8em;}
section.resultBox table.btns{ width:95%; margin:0 auto;}
section.resultBox table.btns td{ padding:0 0.5em;}

}

/*------------------ 16:9的标准屏幕------------------*/
/* iphone5/5s screen:320x568/weixin:320x504 */
/* iphone6 safari:375×667/weixin:320x504 */
/* iphone6 plus safari:414×736/weixin:320x504 */
/* android screen:480x854/weixin:480x744 */
/* android screen:540x960/weixin:540x850 */
@media screen and (device-width:320px) and (max-height:568px),screen and (device-width:375px),screen and (device-width:414px), screen and (width:480px) and (max-height:854px), screen and (width:540px) and (max-height:960px){

}


/*------------------ 动画------------------*/

@-webkit-keyframes fade1_ani{
	0%{ opacity:1;}
	25%{opacity:0;}
	50%{opacity:1;}
}

@-webkit-keyframes fade2_ani{
	0%{ opacity:0;}
	25%{opacity:1;}
	50%{opacity:0;}
}
